<h2>Editing Book</h2>
<%= render 'books/error_message', message: @book %>
<%= form_with model:@book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Opinion" %>
    <%= f.text_area :body %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Book" %>
  </div>
<% end %>